*.pro.user*
Makefile
.qmake.stash
DocumentManager
Build/*
dm.log
Contracts/*

release/

usersbijanappdatalocaltemptmpk0ej_r

*.Debug

*.Release

*.autosave

Resources/SQL/

DocumentManager_resource.rc
